<button class="text-white bg-red-500 rounded p-1 mx-1 hover:bg-red-700"
        (click)="showConfirm()"
        *ngIf="games.length > 0
        && !showConfirmButton && currentUser?.isAdmin">
        {{ languageService.getMessage('clearAll') }}
</button>
<button class="text-white bg-red-500 rounded p-1 mx-1 hover:bg-red-700 animate-bounce"
        (click)="clearAllGames()"
        *ngIf="games.length > 0 &&
        showConfirmButton">
        {{ languageService.getMessage('confirm') }}!
</button>

<div *ngIf="games.length > 0 && showListOfGames" class="mt-3">
    <div class="my-1">
        <label for="userSelect">{{ languageService.getMessage('filterByUser') }}:</label>
        <select id="userSelect" class="border-2 border-blue rounded p-1 ml-1"
                [ngModel]="filterUserName"
                (ngModelChange)="filterUserName = $event; currentPage = 1;">
            <option value="" disabled selected>{{ languageService.getMessage('username') }}</option>
            <option *ngFor="let userName of allUserNames" [value]="userName">
                {{userName}}
            </option>
        </select>
        <button class="text-white bg-red-500 rounded p-1 mx-2 hover:bg-red-700"
                *ngIf="filterUserName"
                (click)="clearFilterUserName()">X</button>
    </div>
    <div class="bg-gray-200 rounded p-1 text-xs">
        <span *ngIf="totalCountOfGames > 0; else noTotalCount">
    <p class="py-1">
    {{languageService.getMessage('totalCountOfGames')}}: {{totalCountOfGames}}</p>
    </span>
        <ng-template #noTotalCount>
            <p class="pt-1">{{ languageService.getMessage('totalCountOfGames') }}: 0</p>
        </ng-template>
        <span *ngIf="games && averageGuesses > 0; else noGames">
    <p class="py-1">
    {{ languageService.getMessage('averageGuesses')}}: {{averageGuesses}} </p>
    </span>
        <ng-template #noGames>
            <p>{{ languageService.getMessage('averageGuesses') }}: 0</p>
        </ng-template>
    </div>
    <div *ngFor="let game of getFilteredGames().slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)"
         class="relative bg-gray-200 rounded p-1 my-0.5 text-xs flex justify-between items-center group"
         (mouseenter)="startTimer(game)"
         (mouseleave)="stopTimer()">
    <span>
        <span class="inline-block w-12">
        🎮 {{game.id}}
        </span>
        <span class="inline-block w-28">
            👤{{game.userName}}
        </span>
        <span class="inline-block w-14">
            🎯: {{game.secretNumber}}
        </span>
        <span class="inline-block w-12">
            🔮: {{game.attempts}}
        </span>
    </span>
        <button class="text-white bg-red-500 rounded p-1 mr-2 hover:bg-red-700"
                *ngIf="currentUser?.isAdmin"
                (click)="removeGame(game.id)">X</button>

        <div [ngClass]="{'opacity-100': game.isHovered}" class="absolute z-10 w-44 p-2 mt-2 rounded-md opacity-0 bg-white shadow-lg transition-opacity duration-300"
             style="right: 2rem; top: 0.5rem;">
            <div class="leading-tight">
                <div><strong>Id:</strong> {{game.id}}</div>
                <div><strong>{{languageService.getMessage('username')}}:</strong> {{game.userName}}</div>
                <div><strong>{{languageService.getMessage('secretNumber')}}:</strong> {{game.secretNumber}}</div>
                <div><strong>{{languageService.getMessage('guesses')}}:</strong> {{game.attempts}}</div>
            </div>
        </div>
    </div>
    <div class="my-5">
        <button class="px-0.5 rounded m-1 bg-blue-700 hover:bg-blue-900 w-5"
                [disabled]="currentPage === 1"
                (click)="currentPage = currentPage - 1">
            &lang;
        </button>
        <span *ngIf="getVisiblePageNumbers()[0] > 1; else firstPage"
                class="inline-block w-4">...</span>
        <ng-template #firstPage>
            <span class="inline-block w-4"></span>
        </ng-template>
        <button class="px-1 hover:bg-green-600 hover:rounded inline-block w-6"
                *ngFor="let page of getVisiblePageNumbers()"
                [ngClass]="{'text-white rounded bg-green-400 py-0.5': currentPage === page }"
                (click)="currentPage = page">{{ page }}</button>
        <span *ngIf="getVisiblePageNumbers()[getVisiblePageNumbers().length - 1] < maxPage; else lastPage"
                class="inline-block w-4">...</span>
        <ng-template #lastPage>
            <span class="inline-block w-4"></span>
        </ng-template>
        <button class="px-0.5 rounded m-1 bg-blue-700 hover:bg-blue-900 w-5"
                [disabled]="this.currentPage === maxPage"
                (click)="currentPage = currentPage + 1">
            &rang;
        </button>
    </div>

</div>


