<button class="text-white bg-red-500 rounded p-1 mx-1 hover:bg-red-700"
        (click)="showConfirm()"
        *ngIf="allGames.length > 0 && !showConfirmButton">{{ languageService.getMessage('clearAll') }}
</button>
<button class="text-white bg-red-500 rounded p-1 mx-1 hover:bg-red-700 animate-bounce"
        (click)="clearAllGames()"
        *ngIf="allGames.length > 0 && showConfirmButton">{{ languageService.getMessage('confirm') }}!
</button>
<p *ngIf="totalCountOfGames > 0; else noTotalCount">{{languageService.getMessage('totalCountOfGames')}}: {{totalCountOfGames}}</p>
<ng-template #noTotalCount>
    <p>{{ languageService.getMessage('totalCountOfGames') }}: 0</p>
</ng-template>
<p *ngIf="allGames && averageGuesses > 0; else noGames">{{ languageService.getMessage('averageGuesses')}}: {{averageGuesses}}</p>
<ng-template #noGames>
    <p>{{ languageService.getMessage('averageGuesses') }}: 0</p>
</ng-template>

