/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  animation: confetti 1s infinite linear;
}

@keyframes confetti {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(500px) rotate(360deg);
  }
}
