<div class="flex items-center justify-center m-5 p-5 bg-gray-300 rounded-xl shadow-2xl">
    <!--
    <button class="absolute top-14 left-5 bg-blue-700 hover:bg-blue-900 text-white rounded px-1 m-3"
            (click)="onToDashboard()">{{languageService.getMessage('close')}}</button>
            -->
    <div *ngIf="isRegisterUserShown">
        <div class="p-2">
            <form (submit)="registerUser()">
                <div class="flex flex-col">
                    <div>
                        <input class="border-2 border-blue-700 rounded my-1"
                               id="registerUserName"
                               type="text"
                               placeholder="{{languageService.getMessage('username')}}"
                               [(ngModel)]="registerUserName"
                               name="registerUserName" required>
                    </div>
                    <div>
                        <input class="border-2 border-blue-700 rounded my-1"
                               id="registerPassword"
                               type="password"
                               placeholder="{{languageService.getMessage('password')}}"
                               [(ngModel)]="registerPassword"
                               name="registerPassword" required>
                    </div>
                    <div>
                        <label class="my-1"
                               for="isAdmin">Admin:</label>
                        <input class="mx-1"
                               id="isAdmin"
                               type="checkbox"
                               [(ngModel)]="isAdmin" name="isAdmin">
                    </div>
                    <div>
                        <button class="bg-blue-700 hover:bg-blue-900 rounded px-1 text-white my-2"
                                [disabled]="registerUserName.length < 1 || registerPassword.length < 1"
                                [ngClass]="{'bg-opacity-50': (registerUserName.length < 1 || registerPassword.length < 1)}"
                                type="submit">{{languageService.getMessage('createNewUser')}}</button>
                    </div>
                </div>
            </form>
            <div>
                <p class="animate-pulse bg-blue rounded"
                    *ngIf="message">{{ message }}</p>
            </div>
            <button
                    class="bg-blue-700 hover:bg-blue-900 rounded px-1 text-white text-xs mt-4"
                    (click)="showLoginUser()"
                    (mouseover)="hoveringOverLoginButton = true"
                    (mouseout)="hoveringOverLoginButton = false"
            >
                &rarr;
                <span class="ease-in-out" *ngIf="hoveringOverLoginButton">{{languageService.getMessage('login')}}</span>
            </button>

        </div>
    </div>

    <div *ngIf="isLoginUserShown">
        <div class="p-2">
            <form (submit)="loginUser()">
                <div class="flex flex-col">
                    <div>
                        <input
                                class="border-2 border-blue-700 rounded my-1"
                                id="loginUserName"
                                type="text"
                                placeholder="{{languageService.getMessage('username')}}"
                                [(ngModel)]="loginUserName"
                                name="loginUserName" required>
                    </div>
                    <div>
                        <input
                                class="border-2 border-blue-700 rounded my-1"
                                id="loginPassword"
                                type="password"
                                placeholder="{{languageService.getMessage('password')}}"
                                [(ngModel)]="loginPassword"
                                name="loginPassword" required>
                    </div>
                    <div>
                        <button class="bg-blue-700 hover:bg-blue-900 rounded px-1 text-white my-2"
                                [disabled]="loginUserName.length < 1 || loginPassword.length < 1"
                                [ngClass]="{'bg-opacity-50': (loginUserName.length < 1 || loginPassword.length < 1)}"
                                type="submit">{{languageService.getMessage('login')}}</button>
                    </div>
                </div>
            </form>
            <div>
                <p class="animate-pulse bg-blue rounded"
                   *ngIf="message">{{ message }}</p>
            </div>
            <button
                    class="bg-blue-700 hover:bg-blue-900 rounded px-1 text-white text-xs mt-10"
                    (click)="showRegisterUser()"
                    (mouseover)="hoveringOverCreateNewUserButton = true"
                    (mouseout)="hoveringOverCreateNewUserButton = false"
            >
                &#43;
                <span *ngIf="hoveringOverCreateNewUserButton">{{languageService.getMessage('createNewUser')}}</span>
            </button>

        </div>
    </div>
</div>


